:root {
	font-size: 18px;
}
@font-face {
	font-family: Logo;
	src: url(./assets/font/PaybAck.ttf);
}

.btn-primary {
	background-color: #b22234;
	border-color: #b22234;
}
.btn-primary:hover {
	background-color: #d44a5a;
	border-color: #d44a5a;
}
.btn-primary:focus {
	background-color: #d44a5a;
	border-color: #d44a5a;
}

/* 
=====================================================
NAV
=====================================================
 */

.nav a {
	color: white;
	font-size: 1.2rem;
}
.nav a:hover {
	color: rgb(175, 255, 211);
}
.navbar-brand {
	font-family: Logo;
}

@media only screen and (min-width: 992px) {
	.navbar-brand {
		font-family: Logo;
		font-size: 2rem;
	}
}
/* 
=====================================================
CAROUSEL
=====================================================
 */

.carousel-caption {
	background-color: rgba(75, 75, 75, 0.308);
	backdrop-filter: blur(3px);
}

p {
	margin-bottom: 0px;
	font-size: 1.1rem;
}

/* 
===============================================
MAIN
===============================================
*/
#offers-main h4 {
	margin-bottom: 0px;
}
#offers-main .lead {
	color: rgb(119, 119, 119);
	margin-bottom: 12px;
}
#offers-main .row p {
	font-size: 1rem;
	margin-bottom: 14px;
}
.list-group-item.active {
	background-color: #b22234;
	border-color: #b22234;
}

@media only screen and (max-width: 575px) {
	#offers-main-center .row {
		display: flex;
		flex-direction: column;
	}
	#offers-main-center .col-4,
	#offers-main-center .col-8 {
		width: 100%;
		max-width: unset;
		margin-bottom: 20px;
	}
	#offers-main-center .col-lg-6 {
		margin-bottom: 8px;
		margin-top: 8px;
	}
	#offers-main-center button {
		width: 100%;
	}
}

/* 
===============================================================
BANNER
===============================================================
*/
.banner-students {
	color: white;
}
.banner-students h6 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.banner-students i {
	font-size: 3.6rem;
	margin-right: 20px;
}

/* 
==================================================================
NEW DESTINATIONS
==================================================================
 */

#new-destinations .card-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

/* 
==============================================================
FAQ
===================================================================
 */
#FAQ .btn:focus {
	box-shadow: none;
	text-decoration: none;
}

/* 
===============================================
FOOTER
===============================================
*/
footer {
	background-color: #262633;
}
footer .nav-link {
	transition: 0.2s;
	font-size: 1rem;
}
footer .nav-link:hover {
	color: #476ec2;
}

/* 
==================================================
ALL OFFERS
==================================================
 */
